*.rbc
*.sassc
Gemfile.lock
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
config/*.yml
.ruby-version
.ruby-gemset
.rbenv-version
/bin/stubs
/bin
/pkg
.DS_Store
